<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <style>
      aside {
        z-index: 3;
      }
      .transition {
        transition: all ease 0.3s;
      }
      .cursor-pointer,
      .form-check input,
      .form-check label {
        cursor: pointer;
      }
      nav:not(.enabled) {
        opacity: 0;
        pointer-events: none;
      }
      .toast {
        width: 6rem;
      }
    </style>
    <title>Random String Generator</title>
  </head>
  <body>
    <!--
    /*****************************************************
    *  project: random string generator                  *
    *  description: simple online password generator     *
    *  author: horans@gmail.com                          *
    *  url: https://github.com/horans/random             *
    *  update: 210330                                    *
    *****************************************************/
    -->
    <header class="my-4">
      <h1 class="text-center">Random String Generator</h1>
    </header>
    <main class="position-relative" id="random">
      <aside
        class="position-absolute bg-white w-100 h-100"
        :class="{ invisible : init }"
      ></aside>
      <form class="container">
        <div class="input-group mb-3">
          <button
            class="btn btn-outline-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Length: {{ option.length.current }}
          </button>
          <ul class="dropdown-menu">
            <li v-for="item in option.length.shortcut">
              <button
                class="dropdown-item"
                :class="{ active: item == option.length.current }"
                @click.prevent="option.length.current = item"
              >
                {{ item }}
              </button>
            </li>
          </ul>
          <input
            type="range"
            class="form-control form-range px-2 h-auto"
            :min="option.length.min"
            :max="option.length.max"
            name="length"
            v-model="option.length.current"
          />
          <button
            class="btn btn-primary"
            type="button"
            name="generate"
            @click="debouncedRender()"
          >
            Generate
          </button>
        </div>
        <div>
          <div
            class="form-check form-switch form-check-inline transition"
            v-for="(v, k) in option.character"
            data-bs-toggle="tooltip"
            :title="v.label"
            :class="{ 'bg-light': k === 'symbol' && v.enabled }"
          >
            <input
              class="form-check-input"
              type="checkbox"
              :id="'character-' + k"
              v-model="v.enabled"
            />
            <label class="form-check-label" :for="'character-' + k"
              >{{ d.startCase(k) }}</label
            >
          </div>
        </div>
        <nav
          class="bg-light transition"
          :class="{ enabled: option.character.symbol.enabled }"
        >
          <div
            class="form-check form-check-inline form-control-sm"
            v-for="(v, k) in option.character.symbol.case"
            data-bs-toggle="tooltip"
            :title="d.startCase(k)"
          >
            <input
              class="form-check-input"
              type="checkbox"
              :id="'character-symbol' + k"
              v-model="v.enabled"
            />
            <label class="form-check-label" :for="'character-symbol-' + k"
              >{{ v.label }}</label
            >
          </div>
        </nav>
        <div class="input-group input-group-lg mt-2">
          <input
            type="text"
            class="form-control text-center font-monospace cursor-pointer"
            name="result"
            readonly
            v-model="result"
            @click="debouncedCopy"
          />
        </div>
      </form>
    </main>
    <footer>
      <div class="position-fixed top-0 end-0 p-3" style="z-index: 5">
        <div
          id="liveToast"
          class="toast hide"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-body text-center">
            Copied!
          </div>
        </div>
      </div>
    </footer>

    <script src="https://unpkg.com/vue@next"></script>
    <!-- <script src="https://unpkg.com/vue@3.0.9/dist/vue.global.prod.js" crossorigin="anonymous"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"
      integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script>
      /* global Vue _ bootstrap */
      const rand = {
        data () {
          return {
            init: false,
            result: null,
            option: {
              length: {
                min: 4,
                max: 64,
                current: 16,
                shortcut: [4, 8, 16, 32, 64]
              },
              character: {
                number: { enabled: true, label: '0123456789' },
                upperCase: {
                  enabled: true,
                  label: 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
                },
                lowerCase: {
                  enabled: true,
                  label: 'abcdefghijklmnopqrstuvwxyz'
                },
                symbol: {
                  enabled: true,
                  case: {
                    exclamation: { enabled: true, label: '!' },
                    questionMark: { enabled: true, label: '?' },
                    hash: { enabled: true, label: '#' },
                    asterisk: { enabled: true, label: '*' },
                    comma: { enabled: true, label: ',' },
                    period: { enabled: true, label: '.' },
                    plus: { enabled: true, label: '+' },
                    minus: { enabled: true, label: '-' },
                    underscore: { enabled: true, label: '_' },
                    atSign: { enabled: true, label: '@' },
                    ampersand: { enabled: false, label: '&' },
                    tilde: { enabled: false, label: '~' },
                    slash: { enabled: false, label: '/' },
                    verticalBar: { enabled: false, label: '|' },
                    caret: { enabled: false, label: '^' },
                    parentheis: { false: false, label: '()' },
                    brace: { enabled: false, label: '{}' },
                    bracket: { enabled: false, label: '[]' }
                  }
                }
              },
              delay: 200
            },
            appearance: {
              tooltip: {
                trigger: null,
                list: null
              },
              toast: null
            }
          }
        },
        computed: {
          // current length of string
          l () {
            return this.option.length.current
          },
          // use lodash in template
          // stackoverflow.com/questions/37694243
          d () {
            return _
          }
        },
        methods: {
          // render output
          render () {
            // initialize empty string
            // stackoverflow.com/questions/27841362/
            const output = new Array(this.l).fill(null)
            // create character picking pool
            let pool = ''
            _.each(this.option.character, function (v, k) {
              if (v.enabled) pool += v.label
            })
            if (this.option.character.symbol.enabled) {
              _.each(this.option.character.symbol.case, function (v, k) {
                if (v.enabled) pool += v.label
              })
            }
            // fill in
            for (let i = 0; i < this.l; i++) {
              if (!output[i]) output[i] = this.pick(pool)
            }
            this.result = output.join('')
          },
          // random pick character from current pool
          pick (str) {
            return str.charAt(Math.floor(Math.random() * str.length))
          },
          // copy generated string and show toast
          copy () {
            // www.w3schools.com/howto/howto_js_copy_clipboard.asp
            const toCopy = document.querySelectorAll('[name=result]')[0]
            toCopy.select()
            toCopy.setSelectionRange(0, 99999)
            document.execCommand('copy')
            this.appearance.toast.show()
          }
        },
        watch: {
          option: {
            handler (nv) {
              // when all character options are disabled, fallback to number enabled
              let s = false
              _.each(nv.character, function (v, k) {
                if (v.enabled) {
                  s = true
                  return false
                }
              })
              if (!s) {
                this.$nextTick(() => {
                  this.option.character.number.enabled = true
                })
              }
              // generate new output when character options are changed
              this.debouncedRender()
            },
            deep: true
          }
        },
        created () {
          // debounce the generation
          this.debouncedRender = _.debounce(this.render, this.option.delay)
          // debounce the copying
          this.debouncedCopy = _.debounce(this.copy, this.option.delay)
        },
        mounted () {
          // initialize tooltip for character options
          // getbootstrap.com/docs/5.0/components/tooltips/
          this.appearance.tooltip.trigger = [].slice.call(
            document.querySelectorAll('[data-bs-toggle="tooltip"]')
          )
          this.appearance.tooltip.list = this.appearance.tooltip.trigger.map(
            function (el) {
              return new bootstrap.Tooltip(el, { trigger: 'hover' })
            }
          )
          // initialize toast for copy
          this.appearance.toast = new bootstrap.Toast(
            document.querySelectorAll('.toast')[0],
            { delay: this.option.delay * 10 }
          )
          // system ready
          this.init = true
          // default ouput
          this.render()
        }
      }
      Vue.createApp(rand).mount('#random')
    </script>
  </body>
</html>
